body {
    font-family: monospace;
    background-color: lightblue;
}
.starterpage {
    margin-left: 340px;
    margin-top: 50px;
    text-align: center;
    padding: 5px;
    border: 5px solid thistle;
    width: 775px;
    height: 500px;
    border-radius: 100%;
    background-color: thistle;
    box-shadow: 10px 10px 5px lightgrey;
}
.title{
    margin-top: 100px;
    text-align: center;
    color: indigo;
    font-size: 48px;
}

.quizdescription {
    color: indigo;
}

.startbutton {
    text-align: center;
    margin-top: 30px;
    box-sizing: 100px;
    border-radius: 30px;
    font-size: 48px;
    background-color: indigo;
    color: white;
}
.startbutton:hover, .userchoice:hover, .submit-score:hover, 
.take-again:hover, .clear-scoreboard:hover {
    background-color: white;
    color: indigo;
    cursor: grab;
}

.quiz {
    display: none;
    text-align: center;
    margin-left: 340px;
    margin-top: 50px;
    padding: 5px;
    border: 5px solid thistle;
    width: 775px;
    height: 500px;
    border-radius: 100%;
    background-color: thistle;
    box-shadow: 10px 10px 5px lightgrey;
}
.question {
    text-decoration: underline white;
    margin-top: 150px;
    color: indigo;
    font-size: 35px;

}
.userchoice {
    display: block;
    margin-left: 300px;
    box-sizing: 50px;
    border-radius: 15px;
    background-color: indigo;
    font-size: 20px;
    color: white;
    padding: 10px;
}
.right-answer {
    display: none;
    margin-left: 520px;
    font-size: 30px;
    color: indigo;
    text-decoration: underline lightgray;
}
.wrong-answer {
    display: none;
    margin-left: 550px;
    font-size: 30px;
    color: indigo;
    text-decoration: underline lightgray;
}
.quiz-over {
    display:none;
    margin-left: 340px;
    margin-top: 50px;
    text-align: center;
    padding: 5px;
    border: 5px solid thistle;
    width: 775px;
    height: 500px;
    border-radius: 100%;
    background-color: thistle;
    box-shadow: 10px 10px 5px lightgrey;

}
.last-page-header {
    text-align: center;
    font-size: 48px;
    color: indigo;

}


.input {
    text-align: center;
    box-sizing: 100px;
}

label {
    color: indigo;
    font-size: 30px;
}

.submit-initials {
    text-align: center;
    font-size: 30px;
    
}
.submit-score {
    display: block;
    margin-top: 30px;
    margin-left: 300px;
    box-sizing: 100px;
    border-radius: 30px;
    font-size: 48px;
    background-color: indigo;
    color: white;


}
.scoreboard {
    display: none;
    margin-left: 340px;
    margin-top: 50px;
    text-align: center;
    padding: 5px;
    border: 5px solid thistle;
    width: 775px;
    height: 500px;
    border-radius: 100%;
    background-color: thistle;
    box-shadow: 10px 10px 5px lightgrey;
}

.your-high-scores {
    color: indigo;
    font-size: 35px;
}

.take-again {
    display: inline;
    margin-left: 50px;
    box-sizing: 60px;
    border-radius: 15px;
    font-size: 25px;
    background-color: indigo;
    color: white;
}

.clear-scoreboard {
    display: inline;
    margin-left: 50px;
    box-sizing: 60px;
    border-radius: 15px;
    font-size: 25px;
    background-color: indigo;
    color: white;
}
.time {
    color: indigo;
    font-size: 30px;
    text-align:right;
}